################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/*
################################################################################
# Abstract Factory
################################################################################/
/AbstractFactory/bin
/AbstractFactory/obj

################################################################################
# Factory Method
################################################################################
/FactoryMethod/bin
/FactoryMethod/obj
/Singleton/bin/Debug
/Singleton/obj/Debug
